.header {
  user-select: none;
  height: 60px;
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 600;
  background-color: aliceblue;
}

.navigation-item {
  position: relative;
  width: 30px;
  padding: 0px 30px;
  border-bottom: 2px solid rgb(182, 182, 182);
}

.navigation-item:active {
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
  transition: all 0.45s ease;
}

.navigation-active {
  border-bottom: 4px solid rgb(0, 39, 168);
  transition: all 0.25s ease-in;
}


.red-dot {
  z-index: 900;
  position: absolute;
  top: 2px;
  background-color: red;
  left: 60%;
  width: 8px;
  height: 8px;
  font-size: 11px;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.exit-header {
  display:  flex ;
  align-items: center;
  user-select: none;
}

.exit-header img, 
.small-exit-header img {
  width: 26px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.small-exit-header{
  padding-top: 10px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}


